body{
    background-color: #f0f1f7;
    font-family: 'Noto Sans JP', sans-serif;

}

input{
    font-family: 'Noto Sans JP', sans-serif;
}

a{
    text-decoration: none;

}

input[type="search"] {
    -webkit-appearance: none;
    appearance: none;
    background-color: white;
    border: none;
    outline: none;
    ;
}